<!doctype html>
<%_ /*
    region header
    Copyright Torben Sickert (info["~at~"]torben.website) 16.12.2012

    License
    -------

    This library written by Torben Sickert stand under a creative commons
    naming 3.0 unported license.
    See https://creativecommons.org/licenses/by/3.0/deed.de
    endregion
*/ _%>
<html>
    <head>
        <meta charset="utf-8">
        <!--Prevent browser caching-->
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <title>playground</title>
        <!--region style-->
        <style>
            store-locator {
                font-family: Roboto, Arial, sans-serif;

                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            store-locator .store-locator__disabled-overlay {
                background-color: black;
                height: 100%;
                opacity: .2;
            }

            store-locator .store-locator__loading-overlay {
                display: flex;
                font-size: 50px;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

            store-locator .store-locator__input {
                display: none;
                height: 25px;
                margin-top: 10px;
                width: 230px;
            }

            store-locator .store-locator__input,
            store-locator .store-locator__search-results {
                border: 1px solid grey;
                margin-left: 10px;
            }

            store-locator .store-locator__search-results {
                border-top: 0;
            }

            store-locator .store-locator__search-results ul {
                padding-inline-start: 12px;
            }

            store-locator .store-locator__search-results ul:hover {
                background-color: #f3f2ef;
            }

            store-locator .store-locator__search-results .tools-mark {
                color: blue;
            }

            store-locator .store-locator__link {
                bottom: 0;
                left: 0;
                position: absolute;
                padding-right: 6px;
                padding-left: 6px;
                text-decoration: none;
                z-index: 2;

                /*
                    NOTE: This properties are derived from googles native legal notice
                    link styles.
                */
                font-size: 10px;
                background-color: #eaf0e7;

                opacity: .7;
            }

            store-locator .web-component-template {
                display: none;
            }
        </style>
        <!--endregion-->
        <!--region polyfill-->
        <%-
            include(
                'web-component-wrapper/polyfill.html',
                {additionalFeatures: [
                    /*
                        Most polyfills are determined via
                        "create-polyfill-service-url" subracted by already
                        includes one due to "web-component-wrapper".
                    */
                    /*
                        The included web-component polyfill already polyfills
                        "Array.from" but without "iterable" support so we have
                        to re-overwriting this here (need for google maps API).
                    */
                    'Array.from',
                    'Array.prototype.indexOf',
                    'Array.prototype.sort',
                    'fetch'
                ]}
            )
        %>
        <!--endregion-->
        <!--region script-->
        <script>
            window.onload = function() {
                storelocator.index.api.register()

                const markSearchResults = function(event) {
                    let changed = false
                    for (var index = 0; index < event.target.items.length; index++) {
                        const item = event.target.items[index]
                        if (
                            item.hasOwnProperty('storeLocatorFoundWords') ||
                            this.currentSearchText === ''
                        ) {
                            if (item.data.iconURL !== 'https://via.placeholder.com/50/0099ff/ffffff.png?text=match') {
                                item.data.iconURL = 'https://via.placeholder.com/50/0099ff/ffffff.png?text=match'
                                changed = true
                            }
                        } else if (item.data.iconURL !== 'https://via.placeholder.com/50/0099ff/ffffff.png') {
                            item.data.iconURL = 'https://via.placeholder.com/50/0099ff/ffffff.png'
                            changed = true
                        }
                    }
                    if (changed)
                        event.target.resetMarkerCluster()
                    return true
                }

                const storeLocatorDomNode =
                    document.querySelector('store-locator')

                storeLocatorDomNode
                    .addEventListener('addSearchResults', markSearchResults)
                storeLocatorDomNode
                    .addEventListener('removeSearchResults', markSearchResults)
            }
        </script>
        <!--endregion-->
    </head>
    <body>
        <store-locator
            configuration="{
                applicationInterface: {
                    key: 'AIzaSyBAoKgqF4XaDblkRP4-94BITpUKzB767LQ'
                },
                ipToLocationApplicationInterface: {
                    bounds: {
                        northEast: {latitude: 55.12, longitude: 14.89},
                        southWest: {latitude: 47.32, longitude: 5.50}
                    },
                    key: '11a62990a1424e894da6eec464a747e6'
                },

                defaultMarkerIconFileName: 'https://via.placeholder.com/50/0099ff/ffffff.png',
                // Automatically generated stores with option: {stores: bounds}
                stores: [
                    {
                        address: 'Elgendorfer Str. 57, 56410 Montabaur, Deutschland',
                        eMailAddress: 'info@fake-1.de',
                        id: 1,
                        latitude: 50.4356,
                        longitude: 7.81226,
                        name: '1 & 1 Telecom GmbH',
                        phoneNumber: '+49 721 9600'
                    },
                    {
                        address: 'Freiheitsstr.1a, 53842 Troisdorf, Deutschland',
                        eMailAddress: '1a@demo.de',
                        id: 2,
                        latitude: 50.82791,
                        longitude: 7.1219600000000005,
                        name: '1A-Bike&Parts GmbH',
                        phoneNumber: '02241 / 91 18 09 3',
                        websiteURL: 'http://www.1a-bike.bike'
                    },
                    {
                        address: 'Niederrheinische Str. 27, 34626 Neukirchen, Deutschland',
                        eMailAddress: 'tfddfa@de.de',
                        id: 3,
                        latitude: 50.871640000000006,
                        longitude: 9.337940000000001,
                        name: '1a Fahrradservice',
                        phoneNumber: '+49 (6694) 7878',
                        websiteURL: 'http://www.1a-fahrradservice-diegelmann.de'
                    },
                    {
                        address: 'Dener Strasse 73, 48653 Coesfeld, Deutschland',
                        eMailAddress: '12345@example.org',
                        id: 4,
                        latitude: 51.93271000000001,
                        longitude: 9.337940000000001,
                        name: '2-Rad-Baumeister',
                        phoneNumber: '+49 (2541) 2509',
                        websiteURL: 'www.2rad-baumeister.de'
                    },
                    {
                        address: 'Friedrichstr. 100, 47475 Kamp - Lintfort, Deutschland',
                        eMailAddress: 'test@example.org',
                        id: 5,
                        latitude: 51.508750000000006,
                        longitude: 6.553020000000001,
                        name: '2 - Rad Behringer',
                        phoneNumber: '02842 / 42 471',
                        websiteURL: 'www.zweirad-behringer.de'
                    },
                    {
                        address: 'Werster Str. 86, 32549 Bad Oeynhausen, Deutschland',
                        eMailAddress: 'test@example.org',
                        id: 6,
                        latitude: 52.215630000000004,
                        longitude: 8.785,
                        name: '2Rad Berger Fahrradhandel & Tankstelle Marcus Berger',
                        phoneNumber: '+49 (5731) 28930',
                        websiteURL: 'www.2radberger.de'
                    },
                    {
                        address: 'Rauchstr. 16, 34454 Bad Arolsen, Deutschland',
                        eMailAddress: 'test@example.org',
                        id: 7,
                        latitude: 51.38242,
                        longitude: 9.01524,
                        name: '2Rad Br\u00fcne',
                        phoneNumber: '05691 / 2220',
                        websiteURL: 'http://2rad-bruene.de'
                    },
                    {
                        address: 'Schneiderstr.40, 46244 Bottrop, Deutschland',
                        id: 8,
                        latitude: 51.57477,
                        longitude: 6.90406,
                        name: '2 - Rad B\u00fcning',
                        phoneNumber: '02045 / 57 38',
                        websiteURL: 'http://www.2-rad-buening.de'
                    },
                    {
                        address: 'Butenwall 63, 46325 Borken, Deutschland',
                        eMailAddress: 'test@example.org',
                        id: 9,
                        latitude: 51.846050000000005,
                        longitude: 6.8543,
                        name: '2Rad Busch',
                        phoneNumber: '+49 (2861) 2692',
                        websiteURL: 'www.2rad-busch.de '
                    },
                    {
                        address: 'Herzebrockerstrasse 12, 33378 Rheda-Wiedenbrück, Deutschland',
                        eMailAddress: 'test@example.org',
                        id: 10,
                        latitude: 51.85799,
                        longitude: 8.28283,
                        name: '2-rad Butschko',
                        phoneNumber: '05242 / 4 31 61',
                        websiteURL: 'http://www.zweirad-butschko.de'
                    }
                ],

                limit: {
                    northEast: {latitude: 55.12, longitude: 14.89},
                    southWest: {latitude: 47.32, longitude: 5.50}
                },
                map: {minZoom: 5, zoom: 9},

                search: {}
            }"
            disabled
            value="5"
            required
        >
            <input
                bind-property-title="configuration.name"
                class="store-locator__input"
                placeholder="Please provide some search words"
                slot="input"
            />

            <a
                class="store-locator__link"
                href="https://www.google.com"
                slot="link"
            >Legal notes example</a>
        </store-locator>
    </body>
<html>
<%_ /*
    region vim modline
    vim: set tabstop=4 shiftwidth=4 expandtab:
    vim: foldmethod=marker foldmarker=region,endregion:
    endregion
*/ _%>
