name: Check types
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
jobs:
  check-types:
    runs-on: ubuntu-latest
    container: node:latest
    steps:
      - uses: actions/checkout@v2

      # Runs a set of commands using the runners shell

      - name: Install packages marked as dependencies
        run: yarn

      - name: Check-types
        run: yarn check:types
