name: Check types

on:
  # NOTE: Runs on branch to tag creation.
  create:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  check-types:
    runs-on: ubuntu-latest
    container: node:latest
    steps:
      - uses: thaibault/install-npm-package-dependencies-action@main

      - name: Check-types
        run: yarn check:types
