name: Lint

on:
  # NOTE: Runs on branch to tag creation.
  create:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      debug:
        description: Sets "NODE_ENV" to "debug".
        default: false
        type: boolean

jobs:
  lint:
    runs-on: ubuntu-latest
    container: node:latest
    steps:
      - uses: thaibault/install-npm-package-dependencies-action@main
        with:
          debug: ${{ inputs.debug }}

      - name: Run lint
        env:
          NODE_ENV: ${{ contains(inputs.debug, 'true') && 'debug' }}
        run: yarn lint
