name: Test coverage and report

on:
  # NOTE: Runs on branch to tag creation.
  create:
    branches:
      - main
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      debug:
        description: Sets "NODE_ENV" to "debug".
        default: false
        type: boolean

jobs:
  test-coverage-report:
    runs-on: ubuntu-latest
    container: node:lts
    steps:
      - uses: thaibault/test-send-coveralls-npm-package-action@main
        with:
          debug: ${{ inputs.debug }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
